{% extends 'shop/base.html' %}
{% load static %}
{% block title %} ЮМА-Мебель {% endblock %}

{% block content %}
    <div class="subhead">
    <div class="about_us_empty"></div>
    <div class="about_us">

        <h1 class="about_us_h1">Выберите для себя <br><br>
            качество мебели <br><br>
            из материалов <br><br>
            на заказ!<br><br><br></h1>

        <h2 class="about_us_h2">«Юма-мебель» в отрасли с 2009года прошла путь от обычного до <br><br>
            высокотехнологичного цеха, чтобы воплощать любые идеи<br><br>
            дизайн-проектов и изготавливать мебель любой сложности.<br><br><br>
            В «Юма-мебель» работает слаженный, профессиональный коллектив.<br><br><br>
            Все процессы производства выстроены с контролем качества на всех этапах.<br><br><br>
            Продукция производится из качественных и безопасных материалов<br><br> квалифицированными
            сотрудниками.<br><br><br>
            Каждый проект для нас уникален. Корректируем проект<br><br> до полного соответствия замыслу.<br><br><br>
            Продукция «Юма-мебель» всегда удостаивается только<br><br> положительных отзывов и самых лучших
            рекомендаций.</h2>

    </div>
        <footer>
            <div class="hr">
                <hr class="top_hr">
            </div>
        <div class="footer_cards">
            <div class="footer_logo_block">
                <img class="logo_footer" src="{% static 'shop/img/logo.png' %}">
            </div>
            <div class="conf_acc">
                <a class="conf" href="/conf">Политика конфиденциальности</a>
                <a class="accept" href="/accept">Пользовательское соглашение</a>
            </div>
            <div class="work_schedule">
                <p class="work_sche">Работаем ежедневно <br> <br> <br>
                    с 10:00 до 19:00 </p>
            </div>
        </div>
            <div class="hr">
                <hr class="bottom_hr">
            </div>
            <div class="end_footer">
                <p>© «Юма-Мебель», 2009-2022

Корпусная мебель от производителя в Великом Новгороде. <br> Изготовление мебели на заказ. <br>

Все права защищены, любое копирование материалов запрещено.</p>
            </div>
    </footer>
        <div class="sub_footer">
            <a href="https://vk.com/id7296951" class="my_site">Создание сайтов</a><p class="my"> — Василий Катичев</p>
        </div>
        </body>
    </div>


{% endblock %}