{% extends 'shop/base.html' %}
{% load static %}
{% block title %} ЮМА-Мебель Пользовательское соглашение{% endblock %}

{% block content %}
    <div class="subhead">
        <div class="done_block_empty"></div>
        <div class="accept_title_top"><h2 class="">Пользовательское соглашение</h2></div>
        <div class="accept_top">

            <h3>Пользовательское Соглашение</h3>
            Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем юма-мебель.рф
            (далее юма-мебель.рф или Администрация) с одной стороны и пользователем сайта с другой.<br>Сайт
            юма-мебель.рф
            не является средством массовой информации.<br><br>Используя сайт, Вы соглашаетесь с условиями данного
            соглашения.<br><b>Если Вы не согласны с условиями данного соглашения, не используйте сайт юма-мебель.рф!
        </b><br><br>
            <h3>Права и обязанности сторон</h3><b>Пользователь имеет право:</b><br>- осуществлять поиск
            информации на сайте<br>- получать информацию на сайте<br>- использовать информацию сайта в личных
            некоммерческих целях<br><br><b>Администрация имеет право:</b><br>- по своему усмотрению и необходимости
            создавать, изменять, отменять правила<br>- ограничивать доступ к любой информации на сайте<br><br><b>
            Пользователь обязуется:</b><br>- обеспечить достоверность предоставляемой информации<br>- не нарушать
            работоспособность сайта<br>- не использовать скрипты (программы) для автоматизированного сбора информации
            и/или взаимодействия с Сайтом и его Сервисами<br><br><b>Администрация обязуется:</b><br>- поддерживать
            работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации
            причинам.
            <br><br>
            <h3>Ответственность сторон</h3>- администрация не несет никакой ответственности за услуги,
            предоставляемые третьими лицами<br>- в случае возникновения форс-мажорной ситуации (боевые действия,
            чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации,
            размещённой Пользователем, а также бесперебойную работу информационного ресурса. <br>
            - однажды негр ел шоколадку и откусил себе руку.<br><br>
            <h3>Условия действия
                Соглашения</h3>Данное Соглашение вступает в силу при любом использовании данного сайта.<br>Соглашение
            перестает действовать при появлении его новой версии.<br>Администрация оставляет за собой право в
            одностороннем порядке изменять данное соглашение по своему усмотрению.<br>Администрация не оповещает
            пользователей об изменении в Соглашении.<br><br><br>
        </div>

        <footer>
            <div class="hr">
                <hr class="top_hr">
            </div>
            <div class="footer_cards">
                <div class="footer_logo_block">
                    <img class="logo_footer" src="{% static 'shop/img/logo.png' %}">
                </div>
                <div class="conf_acc">
                    <a class="conf" href="/conf">Политика конфиденциальности</a>
                    <a class="accept" href="/accept">Пользовательское соглашение</a>
                </div>
                <div class="work_schedule">
                    <p class="work_sche">Работаем ежедневно <br> <br> <br>
                        с 10:00 до 19:00 </p>
                </div>
            </div>
            <div class="hr">
                <hr class="bottom_hr">
            </div>
            <div class="end_footer">
                <p>© «Юма-Мебель», 2009-2022

                    Корпусная мебель от производителя в Великом Новгороде. <br> Изготовление мебели на заказ. <br>

                    Все права защищены, любое копирование материалов запрещено.</p>
            </div>
        </footer>
        <div class="sub_footer">
            <a href="https://vk.com/id7296951" class="my_site">Создание сайтов</a>
            <p class="my"> — Василий Катичев</p>
        </div>
        </body>
    </div>


{% endblock %}